/* Общее */

body {
  width: 100%;
  margin: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: regular;
  font-family: 'Roboto', 'Arial', sans-serif;

  color: #000;
  background-color: #849d8f;
}

/* Разметка */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  /* Блочная модель */
  max-width: 1200px;
  min-width: 900px;
  height: 100%;
  margin: 0 auto;

  border: 1px solid black;
}

.header-block-logo{
  float: left;

  margin-right: 30px;
  margin-top: 9px;
  margin-left: 1.75%;
}

.header-block-main-nav{
  float: left;

  width: 58.58333%;
  margin-top: 29px;
}

.header-block-user-nav{
  float: right;

  width: 262px;
  margin-top: 23px;
  margin-right: 27px;
}

.header-block-main-nav ul,
.header-block-user-nav ul{
  margin: 0;
  padding: 0;
}

.header-block-main-nav__item,
.header-block-user-nav__item{
  display: inline-block;
  vertical-align: top;

  list-style: none;
}

.header-block-main-nav__link{
  padding-bottom: -1px;
  margin-right: 28px;

  line-height: auto;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.btn{
  box-sizing: border-box;
  height: 32px;
  width: 32px;

  border: none;
  box-shadow: none;
}

.header-block-user-nav__btn{
  background-color: #9db1a5;
}

.search-btn{
  margin-right: 8px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 50%;
}

.enter-btn{
  position: relative;
  margin-left: 16px;
  margin-right: 40px;
  width: 60px;
  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.basket-btn{
  position: relative;
  width: 85px;
  background-image: url('../img/basket.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.enter-btn,
.basket-btn{
  padding-left: 29px;

  color: #fff;
  font-family:  'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
}

.basket-btn::before,
.enter-btn::before,
.enter-btn::after,
.basket-btn::after{
  content: '';
  position: absolute;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  z-index: -1;
  background-color: #9db1a5;
}

.basket-btn::before,
.enter-btn::before{
  left: -16px;
  top: 0;
}

.enter-btn::after,
.basket-btn::after{
  right: -16px;
  top: 0;
}
