/* Общее */

body {
  width: 100%;
  margin: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: regular;
  font-family: 'Roboto', 'Arial', sans-serif;

  color: #000;
  background-color: #849d8f;
}

/* Разметка */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container{
  /* Блочная модель */
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.btn{
  box-sizing: border-box;
  height: 32px;
  width: 32px;

  border: none;
  box-shadow: none;
}

.red-btn{
  position: relative;
  height: 32px;
  width: 32px;

  padding: 0;

  background-image: linear-gradient(to bottom, #f26843, #e74b36);
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

.red-btn::before,
.red-btn::after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #f26843, #e74b36);
}

.red-btn::before{
  top: 0;
  left: -16px;
}

.red-btn::after{
  top: 0;
  right: -16px;
}

/*Header*/

.header-block-logo{
  float: left;

  margin-right: 30px;
  margin-top: 9px;
  margin-left: 1.75%;
}

.header-block-main-nav{
  float: left;

  width: 58.58333%;
  margin-top: 29px;
}

.header-block-user-nav{
  float: right;

  width: 262px;
  margin-top: 23px;
  margin-right: 27px;
}

.header-block-main-nav ul,
.header-block-user-nav ul{
  margin: 0;
  padding: 0;
}

.header-block-main-nav__item,
.header-block-user-nav__item{
  display: inline-block;
  vertical-align: top;

  list-style: none;
}

.header-block-main-nav__link{
  padding-bottom: -1px;
  margin-right: 28px;

  line-height: auto;
  font-weight: 700;
  color: #fff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header-block-user-nav__btn{
  background-color: #9db1a5;
}

.search-btn{
  margin-right: 8px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border-radius: 50%;
}

.enter-btn{
  position: relative;
  margin-left: 16px;
  margin-right: 36px;
  padding-left: 26px;
  width: 60px;
  background-image: url('../img/enter.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.basket-btn{
  position: relative;
  padding-left: 18px;
  width: 85px;
  background-image: url('../img/basket.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.enter-btn,
.basket-btn{
  color: #fff;
  font-family:  'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
}

.basket-btn::before,
.enter-btn::before,
.enter-btn::after,
.basket-btn::after{
  content: '';
  display: block;
  position: absolute;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  z-index: -1;
  background-color: #9db1a5;
}

.basket-btn::before,
.enter-btn::before{
  left: -16px;
  top: 0;
}

.enter-btn::after,
.basket-btn::after{
  right: -16px;
  top: 0;
}

.header-block-info span{
  position: absolute;
  right: 0;
}

.header-block-info span:first-of-type{
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.header-block-info span:last-of-type{
  bottom: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
  color: #fff;
}

.header-block{
  position: relative;
}

.header-block-info{
  position: absolute;
  top: 71px;
  right: 0;

  width: 170px;
  height: 46px;
  margin-right: 27px;
}

/*___________________________________________________________________________________________________________*/
/*Main index*/

/*//////////////SLIDER//////////////////*/
.main-block-slider{
  position: absolute;
  height: 881px;
  width: 1200px;
  top: 0;
  z-index: 5;
}

.main-block-slider-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../img/light-1-1200.png') no-repeat 0 0;
}

.main-block-slider-slides{
  width: 300%;
  transition: transform 1s ease;
}

.main-block-slider-slides__item{
  position: relative;
  display: block;
  width: 1200px;
  height: 100%;
  margin-top: 391px;
  margin-bottom: 35px;
  float: left;

  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

.main-block-slider-slides__item img{
  display: block;
  position: absolute;
  top: -308px;
  left: 50%;
  margin-left: -325px;
  z-index: -2;

  width: auto;
  height: auto;
}

.main-block-slider-slides__item button{
  position: absolute;
  bottom: -96px;
  left: 50%;

  width: 216px;
  height: 64px;
  margin-left: -106px;

  font-size: 31.48px;
  line-height: 62.93px;

}

.main-block-slider-slides__item button::before,
.main-block-slider-slides__item button::after{
  height: 64px;
  width: 64px;

  top: 0;
}

.main-block-slider-slides__item button::before{
  left: -32px;
}

.main-block-slider-slides__item button::after{
  right: -32px;
}

.main-block-slider input[type='radio']{
  position: absolute;
  display: none;
}

.main-block-slider-controls{
  position: absolute;
  top:563px;
  left: 27px;
  width: 87px;
}

.main-block-slider-controls label{
  float: left;
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#radiobtn-1:checked ~ .main-block-slider-controls label[for="radiobtn-1"],
#radiobtn-2:checked ~ .main-block-slider-controls label[for="radiobtn-2"],
#radiobtn-3:checked ~ .main-block-slider-controls label[for="radiobtn-3"] {
  background-color: #fff;
}

#radiobtn-1:checked ~ .main-block-slider-inner .main-block-slider-slides{
  transform: translate(0);
}

#radiobtn-2:checked ~ .main-block-slider-inner .main-block-slider-slides{
  transform: translate(-1200px);
}

#radiobtn-3:checked ~ .main-block-slider-inner .main-block-slider-slides{
  transform: translate(-2400px);
}

/*////////////////////////////////ACTION BLOCK/////////////////////////////////*/
.main-block-action{
  position: relative;
  min-height: 270px;
  padding: 0 27px;
  margin-top: 550px;
  padding-bottom: 40px;
  z-index: 10;
}

.main-block-action__item{
  float: left;
  width: 560px;
  height: 230px;
  margin-right: 13px;
}

.main-block-action__item h2{
  margin: 0;
  padding: 23px 20px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.main-block-action__item p{
  margin: 0;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.main-block-action__item button{
  height: 46px;
  width: 122px;

  margin-left: 400px;
  margin-top: 40px;
}

.main-block-action__item button::before,
.main-block-action__item button::after{
  height: 46px;
  width: 46px;
  z-index: -1;
}

.main-block-action__raspberry{
  background: url('../img/raspberry-bg.png') no-repeat;
}

.main-block-action__chocolate{
  background: url('../img/chocolate-bg.png') no-repeat;
}
